.update_password_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(110px);
}

.oldPassword,
.newPassword,
.confirmPassword {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.oldPassword input,
.newPassword input,
.confirmPassword input {
    border: none;
    border-radius: 4px;
    width: 18pc;
    height: 24px;
}

.oldPassword i,
.newPassword i,
.confirmPassword i {
    color: white;
    font-size: 34px;
    margin-right: 10px;
}

.update_password_main button {
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 24px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
}

.update_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid white;
    padding: 10px;
    transition: all 0.2s ease-out;
}

.update_password_main h5 {
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 100;
    margin: 0;
    margin-top: 15px;
}

.forgetPassword_redirect_btn {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.forgetPassword_redirect_btn a{
    margin-right: 10px;
}

.forgetPassword_redirect_btn button{
    width: 100px;
}

.update_password_main h3{
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    text-decoration: underline;
    text-underline-position: under;
    letter-spacing: 3px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width:400px){
    .oldPassword input, .newPassword input, .confirmPassword input {
        border: none;
        border-radius: 4px;
        width: 16pc;
        height: 24px;
    }
}